# Prerequisites
*.test
*.d
*solaceAsm
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*location.hh
*position.hh
*stack.hh
*nhll_lexer.yy.cc
*nhll_parser.output
*nhll_parser.tab.cc
*nhll_parser.tab.hh

*build/